body {
    font-family: Arial, sans-serif;
    background-color: #D9C5A0;
    color: #2B2B2B;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #5C3B2E;
}

nav {
    background-color: #8C1C13;
    padding: 10px;
}

nav a {
    color: #F5F1EA;
    margin: 0 10px;
    text-decoration: none;
}

section {
    background-color: #F5F1EA;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #D6CFC7;
}

footer {
   position: absolute;
    padding: 10px;
    background-color: #5C3B2E;
    color: #F5F1EA;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}